.card-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
}

.card {
  position: relative;
//   border-radius: 1.5rem;

  background-color: #ffffff;
  padding: 2rem;
  p {
    // color: #1d1d1d;
    color: rgb(233, 233, 233);
  }

  &.glass {
    background: rgba(55, 55, 55, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(166, 166, 166, 0.1);
  }

  &.black {
    background-color: #000;
    p {
      color: #ffffff;
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  //sizes
  &.small {
    width: 1fr;
    height: 1fr;
  }
  &.medium {
    width: 2fr;
    height: 2fr;
  }
  &.large {
    width: 25rem;
    height: 25rem;
  }
  &.vertical {
    grid-row: span 2;
  }
}
