* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  padding: 2rem;
  height: 100vh;

  /* Puoi aggiungere più punti di colore per sfumature più complesse */
//   background: linear-gradient(to bottom right, #8941f6 30%, #ffbc3f 60%,#ffff74 90%); 
background-image: url("./images/back_v1.jpg");
background-size: cover;
background-position: center;




}
